form {
    width: 50%;
    max-width: 80vw;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: #f9f9f9;
    font-family: Arial, sans-serif;
}

h1, h2, p {
    text-align: center;
    font-family: Arial, sans-serif;
}

.demo {
    display: flex;
    width: 80vw;
    max-width: 100%;
    gap: 2rem;
    margin: 2rem auto;
}


#saleForm {
    display: none;
}

#submitProduct {
    height: 40px;
}

#paymentMethod {
    margin-bottom: auto;
}

.postForm {
    display: flex;
    flex-direction: column;
    height: auto;
}

.postForm input,
.postForm textarea,
.postForm select {
    margin-bottom: 1rem;
    padding: 0.5rem;
    font-size: 1rem;
}


label {
    margin-bottom: 0.5rem;
    font-weight: bold;
    display: block;
}

@media (max-width: 600px) {
    .demo {
        display: flex;
        flex-direction: column;
        width: 100vw;
    }

    form {
        width: 90%;
    }
}